$backgoundColor: #7d26c4; 
$orange: #E68B45;

body { 
    margin: 0px;
    padding: 0px;
    background-color: $backgoundColor;
}

.navBar {
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    
     header nav {
         background-color: #18181b; 
         

        .mainNav {
            display: flex;
            position: relative;
            top: 1rem;
            list-style: none;
          }    
        
        ul li{
            padding: 15px;
            font-size: 2rem;

            a{
                color: #FFF;
                display: block;
            }
        }
     }

  }

.push {
    position: relative;
    left: 49rem;
}

.goLeft {
   position: relative;
   right: 4rem;
}

a {
    text-decoration: none;
}

.logoG {
    width: 100%;
}
  
.liG {
    width: 130px;
    height: 100px;
    position: relative;
    bottom: 1.5rem;
}

// SECTION PROJECTS

.container {
   position: relative;
   left: 15rem;
   top: 14rem;

    .row2Main{
        margin-top: 5rem;
        position: relative;
        right: 8rem;
    }
}

.colArclabsGaming2 {
    position: relative;
    top: 15rem;
    left: 2rem;
    font-size: 1.5rem;
}

.colH2{
    font-size: 3rem;
    color: #FFF;
}

.orange {
    color: $orange;
}

.imgArclabs {
    width: 80%;
}



.imgGamingCampus {
    width: 80%;
}

