$backgoundColor: #7d26c4; 
$orange: #E68B45;

body { 
    margin: 0px;
    padding: 0px;
    background-color: $backgoundColor;
}

.navBar {
    margin: auto;
    width: 90%;
    
     header nav {
         background-color: #18181b; 
         position: fixed;  

        .mainNav {
            display: flex;
            flex-direction: row;
            position: relative;
            top: 1rem;
            list-style: none;
          }    
        
        ul li{
            padding: 15px;
            font-size: 2rem;

            a{
                color: #FFF;
            }
        }
     }

  }

.push {
    position: relative;
    left: 50rem;
}

.goLeft {
   position: relative;
   right: 4rem;
}

a {
    text-decoration: none;
}

.logoG {
    width: 100%;
}
  
.liG {
    width: 130px;
    height: 100px;
    position: relative;
    bottom: 1.5rem;
}

// SECTION ARCLABS

.contaiArclabs {
    position: relative;
    left: 13rem;
    top: 3rem;
}

.colArclabs2 {
    position: relative;
    top: 15rem;
    font-size: 1.5rem;
}

.colArclabsH2{
    font-size: 3rem;
    color: #FFF;
}

.orange {
    color: $orange;
}

.imgArclabs {
    width: 80%;
}

